{% from '@SyliusAdmin/Macro/translationForm.html.twig' import translationForm %}


{{ form_errors(form) }}
<div class="ui segments">
    <div class="ui segment">
        {{ form_row(form.code) }}
        {{ form_row(form.enabled) }}
        {{ form_row(form.quantity) }}
    </div>
    <div class="ui hidden divider"></div>

    <div class="ui segment">
        {% if resource.image %}
            {% include '@VldmrkSyliusWhatInBoxPlugin/Admin/Update/_image.html.twig' with {data: resource} %}
        {% endif %}
        {{ form_widget(form.image) }}

    </div>

    <div class="ui hidden divider"></div>
    {{ translationForm(form.translations) }}

    <div class="ui hidden divider"></div>
</div>

